@charset "utf-8"; 
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);
html,
body {
	height: 100%;
	background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/memphis-mini.png);
    font-size: 15px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    /* background-color: #f5f5f5; */
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    border: none;
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    background-color: transparent;
}

.site-index{

    background-color: rgb(235, 235, 235);
}


.bird {
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
	background-size: auto 100%;
	width: 88px;
	height: 125px;
	will-change: background-position;
	
	animation-name: fly-cycle;
	animation-timing-function: steps(10);
    animation-iteration-count: infinite;
}

	.bird--one {
		animation-duration: 1s;
		animation-delay: -0.5s;		
	}
	
	.bird--two {
		animation-duration: 0.9s;
		animation-delay: -0.75s;
	}
	
	.bird--three {
		animation-duration: 1.25s;
		animation-delay: -0.25s;
	}
	
	.bird--four {
		animation-duration: 1.1s;
		animation-delay: -0.5s;
	}



.bird-container {
	position: absolute;
	top: 20%;
	left: -10%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;
	
	animation-name: fly-right-one;
	animation-timing-function: linear;
	animation-iteration-count: infinite;}
	
	.bird-container--one {
		animation-duration: 15s;
		animation-delay: 0s;
	}
	
	
	.bird-container--two {
		animation-duration: 16s;
		animation-delay: 1s;
	}
	
		
	.bird-container--three {
		animation-duration: 14.6s;
		animation-delay: 9.5s;
	}
	
		.bird-container--four  {
		animation-duration: 16s;
		animation-delay: 10.25s;
	}
	

@keyframes fly-cycle {
	
	100% {
		background-position: -900px 0;
	}
	
}

@keyframes fly-right-one {
	
	0% {
		transform: scale(0.3) translateX(-10vw);
	}
	
	10% {
		transform: translateY(2vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(0vh) translateX(30vw) scale(0.5);
	}
	
	30% {
		transform: translateY(4vh) translateX(50vw) scale(0.6);
	}
	
	40% {
		transform: translateY(2vh) translateX(70vw) scale(0.6);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.6);
	}
	
	60% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
}

.divider-right{
	border-right:1px solid #5882FA;
  }
  
  .top{
	margin-top:5%;
  }
  .center{
	margin:auto;
  }
  .sinborde{
	height:100px;
  }
  .divider{
	border-bottom: 1px solid #e2e2e2;
  }
  .sinborde2{
	height:50px;
  } 
  .body{
	background-color:#E2E4E5;
  }
  /* Animación y transformaciones de la animación de la portada */
@keyframes fly-right-two {
	
	0% {
		transform: translateY(-2vh) translateX(-10vw) scale(0.5);
	}
	
	10% {
		transform: translateY(0vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(-4vh) translateX(30vw) scale(0.6);
	}
	
	30% {
		transform: translateY(1vh) translateX(50vw) scale(0.45);
	}
	
	40% {
		transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.45);
	}
	
	51% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
	
}
-footer	
/* animaciones de la barra de progreso del usuario, que se gestiona mediante JQuery */
#five:checked ~ .progress > .progress-bar {
	width: 5%;
	background-color: #f34213;
}

  .progress > .progress-bar {
	width: 25%;
	background-color: #f27011;
}

#fifty:checked ~ .progress > .progress-bar {
	width: 50%;
	background-color: #f2b01e;
}

#seventyfive:checked ~ .progress > .progress-bar {
	width: 75%;
	background-color: #f2d31b;
}

#onehundred:checked ~ .progress > .progress-bar {
	width: 100%;
	background-color: #86e01e;
} 
.login header{
	background-image: url('/img/interno/panorama-2117310_1920.jpg');
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center center;
	border-radius: 30px;
	}
.login, .registrar, .resetpass, .recoverpass{
	display: flex;
	flex-direction: column;
	padding: 30px;
/* background gradiente para diferentes navegadores */
/* opacity:0.7; */
	background: -webkit-linear-gradient(rgb(216, 213, 213),rgb(186, 241, 179));
	background: -moz-linear-gradient(rgb(216, 213, 213),rgb(186, 241, 179));
	background: -ms-linear-gradient(rgb(216, 213, 213),rgb(186, 241, 179));
	background: -o-linear-gradient(rgb(216, 213, 213),rgb(186, 241, 179));
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('https://media3.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif?cid=ecf05e4760942d3aa88e5a051180b78969a620bb00df843a&rid=giphy.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}

.img-contenedor img {
	-webkit-transition:all .9s ease; /* Safari y Chrome */
	-moz-transition:all .9s ease; /* Firefox */
	-o-transition:all .9s ease; /* IE 9 */
	-ms-transition:all .9s ease; /* Opera */
	width:100%;
	}
	/* .img-contenedor:hover {
	-webkit-transform:scale(1.35);
	-moz-transform:scale(1.35);
	-ms-transform:scale(1.35);
	-o-transform:scale(1.35);
	transform:scale(1.35);
	} */
	.img-contenedor {/*Ancho y altura son modificables al requerimiento de cada uno*/
	width:450px;
	height:270px;
	overflow:hidden;
	}
	@media (max-width: 1000px) {
		body {
		  font-size: 13px;
		  font-family:Arial, Helvetica, sans-serif;
		  letter-spacing: 0.1rem;
		}
		img{
			width: 80%;
		
			align-items: center;
		}
	}		
	
	/* @media (max-width: 600px) {
		body {
		  font-size: 18px;
		  font-family:Arial, Helvetica, sans-serif;
		  letter-spacing: 0.02rem;
		}
		img{
			width: 10%;
		
			align-items: center;
		}		
		footer{
			display: none;
		}
} */
	@media (max-width: 600px) {
		.display-4 {
		  font-size: 2rem;
	
		}
		.accesible{
			width: 20%;
		}
	
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}
#personal{

text-align: center;
padding: 2px; 
border: 6px double #089432;
border-radius: 40px 0px 0px 40px;

}


html {
  min-height: 100%;
}

.sombra{
	position:relative;
	float:left;
	
	padding:1em;
	margin:1em 5px 3em;
	background:#fff;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3),0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
  .sombraBis{
	position:relative;
	float:left;
	
	padding:1em;
	margin:0;
	background:#fff;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3),0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
  .imgPerfil{
	
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 50%;
	  
  }
  #estadoFeed{
	font-size: 0.9em;
	color:rgb(116, 114, 114);
  }


  .paper 
{
    border: 1px solid #EEEEEE;
    box-shadow: 1px 1px 0 #DDDDDD;
    display: block;
    font-family: 'Marck Script',cursive;
    font-size: 12px;
    line-height: 40px;
    margin: 2px auto;
    padding: 5px 10px 0 30px;
    resize: vertical;
    /* height: 689px;
    width: 530px; */
    
    background-image: -moz-linear-gradient(top , transparent, transparent 49px,#E7EFF8 0px), -moz-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%), -moz-radial-gradient(3.9% 46% , circle closest-corner, #CCCCCC, #CCCCCC 43.5%, transparent 0%); 
    background-image: -webkit-linear-gradient(top , transparent, transparent 49px,#E7EFF8 0), -webkit-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%), -webkit-radial-gradient(3.9% 46%, circle closest-corner, #cccccc, #cccccc 43.5%, transparent 0%);
    -webkit-background-size:  100% 50px;
    background-size: 100% 50px;
}
.help-block{
	color:red;
	font-weight: bold;
}


        /* Código de animación */
        @keyframes example {
            0% {
                /* background-color: red; */
                left: 0px;
                top: 300px;
            }

            25% {
                /* background-color: yellow; */
                left: 0px;
                top: 150px;
            }

          

            100% {
                /* background-color: red; */
                left: 0px;
                top: 0px;
            }
        }
     

        /* Elemento al que se le aplica la animación */
        .intro2 {
           
            position: relative;
          
            animation-name: example;
            animation-duration: 3s;
		}
		
		.fraseDestacada{
			font-family: 'Architects Daughter', cursive;
			font-size: 30px;
			text-shadow: 2px 2px 2px rgb(64, 150, 52);
			font-style: italic;
			position: relative;
          
            animation-name: example;
            animation-duration: 3s;
		}
		.faqHeader {
            font-size: 27px;
            margin: 20px;
        }

        .panel-heading [data-toggle="collapse"]:after {
            font-family: 'Glyphicons Halflings';
            content: "e072";
            /* "play" icon */
            float: right;
            color: #F58723;
            font-size: 18px;
            line-height: 22px;
            /* rotate "play" icon from > (right arrow) to down arrow */
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }

        .panel-heading [data-toggle="collapse"].collapsed:after {
            /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
            color: #454444;
		}
		
	/* Inserto css para controlar los aspectos de esa sección de página update */
	fieldset {
		border: 1px solid #ddd !important;
		margin: 0;
		padding: 10px;
		position: relative;
		border-radius: 4px;
		background-color: #f5f5f5;
		padding-left: 10px !important;
	}

	legend {
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 0px;
		width: 35%;
		border: 1px solid #ddd;
		border-radius: 4px;
		padding: 5px 5px 5px 10px;
		background-color: #ffffff;
	}
	.personalizado{
		font-size: 3rem;
	}
